
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homeshare ASP.NET Project </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/script")
    <!-- Owl stylesheet -->
    @Styles.Render("~/Content/owl-carousel")
    @Scripts.Render("~/bundles/owl-carousel")
    <!-- Owl stylesheet -->
    <!-- slitslider -->
    @Styles.Render("~/Content/slitslider")
    @Scripts.Render("~/bundles/slitslider")
    <!-- slitslider -->
    @RenderSection("MoreCss", false)

</head>

<body>


    <!-- Header Starts -->
    <div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">


                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>


                <!-- Nav Starts -->
                <div class="navbar-collapse  collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@ViewBag.Home"><a href="/Home/Index">Home</a></li>
                        <li class="@ViewBag.About"><a href="/Home/About">About</a></li>
                        <li class="@ViewBag.Owners"><a href="/Home/Owners">Owners</a></li>
                        <li class="@ViewBag.Homesharing"><a href="/Home/Homesharing">Homesharing</a></li>
                        <li class="@ViewBag.Contact"><a href="/Home/Contact">Contact</a></li>
                        <li><button class="btn btn-info"><a href="/Account/Login">Login</a></button></li>
                    </ul>
                </div>
                <!-- #Nav Ends -->

            </div>
        </div>

    </div>
    <!-- #Header Starts -->





    <div class="container">

        <!-- Header Starts -->
        <div class="header">
            <a href="Home/Index"><img src="/images/logo.png" alt="Realestate"></a>

            <ul class="pull-right">
                <li><a href="/Home/Buysalerent">Share</a></li>
                <li><a href="/Home/Buysalerent">Search</a></li>
                <li><a href="/Home/Buysalerent">Member Zone</a></li>
            </ul>
        </div>
        <!-- #Header Starts -->
    </div>


    @RenderBody()





    <div class="footer">

        <div class="container">



            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4>Information</h4>
                    <ul class="row">
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/Home/About">About</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/Home/Owners">Owners</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/Home/Homesharing">Homesharing</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/Home/Contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                        <input type="text" placeholder="Enter Your email address" class="form-control">
                        <button class="btn btn-success" type="button">Notify Me!</button>
                    </form>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Follow us</h4>
                    <a href="#"><img src="/images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="/images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="/images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="/images/instagram.png" alt="instagram"></a>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4>Contact us</h4>
                    <p>
                        <b>Bootstrap Realestate Inc.</b><br>
                        <span class="glyphicon glyphicon-map-marker"></span> 8290 Walk Street, Australia <br>
                        <span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
                        <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890
                    </p>
                </div>
            </div>
            <p class="copyright">Copyright 2013. All rights reserved.	</p>


        </div>
    </div>    
</body>
</html>



