@model HomeshareASP.Models.MyHomesharingViewModel
@{
    ViewBag.Title = "MyHomesharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="properties-listing spacer">
    <h2>All of My Homesharings</h2>
    <div id="owl-example" class="owl-carousel">
        @foreach (HomeshareASP.Models.BienModel item in Model.MyBienList)
        {
            <div class="properties">
                <div class="image-holder">
                    <img src="@item.Photo" class="img-responsive" alt="properties" />
                </div>
                <h4><a href="property-detail.php">@item.Titre</a></h4>
                <p class="price">For @item.NombrePerson peoples</p>
                <div class="listing-detail">@item.DescCourte</div>
                <a class="btn btn-primary" href="@Url.Action("Homedetail", "Home", new { id = item.IdBien })">View Details</a>
            </div>
        }
    </div>
</div>

