@model HomeshareASP.Models.MyHomesharingViewModel
@{
    ViewBag.Title = "MyHomesharing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="properties-listing spacer">
    <h2>All Homesharings of @Model.CurrentMembre.Prenom @Model.CurrentMembre.Nom : </h2>
    <div id="owl-example" class="owl-carousel">
        @foreach (HomeshareASP.Models.BienModel item in Model.MyBienList)
        {
            <div class="properties">
                <div class="image-holder">
                    <img src="@item.Photo" class="img-responsive" alt="properties" />
                </div>
                <h4><a href="property-detail.php">@item.Titre</a></h4>
                <p class="price">For @item.NombrePerson peoples</p>
                <div class="listing-detail">@item.DescCourte</div>
                <a style="font-size: 18px;" class="btn btn-primary" href="@Url.Action("RemoveHomesharing", "Home", new { id = item.IdBien })">Remove this</a>
            </div>
        }
        <div><button class="btn btn-info"><a href="~/Membre/Home/AddHomesharing">Add More Homesharing</a></button></div>
    </div>
</div>

